/* FileName: app.scss */

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: "Gilroy", sans-serif;
} 
.songsPage{
	margin-bottom: 200px;
}
@import "./library"; 
@import "./player"; 
@import "./song"; 
.h2h3 { 
	color: #133a1b; 
} 
.h3h4 { 
	font-weight: 600; 
} 

